.tabs .tabsHeader {
  display: flex;
  overflow-x: auto;
  border-bottom: 1px solid;
  padding: 0.5em 0;
}
.tabs .tabsHeader span {
  flex: 0 0 auto;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0.5;
}
.tabs .tabsHeader span.active {
  opacity: 1;
}
.tabs .tabsHeader span:not(:last-child) {
  margin-right: 1em;
}
.tabs .tabsHeader span:not(.active):hover {
  opacity: 1;
  text-decoration: underline;
}
.tabs .tabsHeader .scrollArrow {
  display: none;
  cursor: pointer;
  pointer-events: none;
  opacity: 0.5;
}
.tabs .tabsHeader .scrollArrow:hover {
  opacity: 1;
}
.tabs .tabBody {
  padding: 3em 0 0 0;
  min-height: calc(40vw + 10vh);
}
/* Mobile styles */
@media (max-width: 767px) {
  .scrollArrow {
    display: none;
    pointer-events: all;
  }
}

