.header{

}

.header.page{
    margin-block: 2em;
}
.outline{
    white-space: break-spaces;
    font-size: var(--font-size-h3);
    font-weight: 300;
}
.heading{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 2em;
}

.header h4{
}

.header{
}

.image{
}

.image img{

}

@media (max-width: 768px) {
    .header .outline{
        font-size: var(--font-size-regular);
    }
    .header h1{
        line-height: 121%;
    }
}


