.feature{
  .info{
    h2{
      margin-bottom: 1em;
    }
  }
  .video{
  }

  ul{
    list-style-type: "→";
    margin-left: var(--font-size-regular);
    margin-bottom: 4em;
    li:not(:last-child){
      margin-bottom: 0.5em;
    }
  }
}
