.infoSection{
  h2{
  }
  .infoBody:not(:first-child){
    margin-top: 1em;
    margin-bottom: 4em;
  }
}


@media (max-width: 754px) {
  .sectionLabel{
    margin-bottom: 2em;
    display: block;
  }
}
