.hero{

  h1{
    font-size: 8vw;
    line-height: 1.2;
  }

  p{
    max-width: 550px;
  }

  p{
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  img{
    width: 100%;
  }

  .animatedText{
    position: relative;
    width: 32vw;
    height: 8vw;
    display: inline-block;

    .text{
      position: absolute;
      top: 0;
      left: 0;
      transition: all 400ms;

      &.fadeIn{
        opacity: 1;
        transform: translateY(0);
      }
      &.fadeOut{
        opacity: 0;
        transform: translateY(-100%);
      }
    }
  }

  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .banner{
    .bannerImage{
      padding: 5em 0 3em 0;
      .imageHolder{
        .desktop{

        }
        .mobile{
          display: none;
        }
      }
    }
    .action{
      text-align: center;
    }
  }
  //
  //.asciiBanner{
  //  .asciiBannerContainer{
  //    position: relative;
  //
  //    .clickBox{
  //      position: absolute;
  //      transition: all 1s;
  //      cursor: pointer;
  //
  //      &:hover{
  //        backdrop-filter: invert(100%);
  //      }
  //    }
  //    &.desktop{
  //      .clickBox{
  //        top: 78%;
  //        left: 38%;
  //        width: 23.8%;
  //        height: 10%;
  //      }
  //    }
  //
  //    &.mobile{
  //      display: none;
  //      .clickBox{
  //        top: 82.6%;
  //        left: 23%;
  //        width: 53%;
  //        height: 8%;
  //      }
  //    }
  //
  //  }
  //}
}

@media (max-width: 754px){
  .hero{
    h1{
      font-size: calc(100vw / 5.5);
      line-height: 100%;
    }
    .animatedText{
      //width: vw;
      height: calc(100vw / 7);
    }
  }
  .banner{
    padding-top: 2em;
  }
  .bannerImage{
    display: none;
    padding: 2em 0 3em 0 !important;
    .desktop{
      display: none;
    }
    .imageHolder{
      text-align: center;
    }
    .mobile{
      display: block !important;
      width: 46% !important;
      margin: auto;
    }
  }

}
