.hero{
  p, h1{
    max-width: 530px;
  }
  p{
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  img{
    width: 100%;
  }

  .banner{
    .bannerImage{
      padding: 5em 0 3em 0;
      .imageHolder{
        .desktop{

        }
        .mobile{
          display: none;
        }
      }
    }
    .action{
      text-align: center;
    }
  }
  //
  //.asciiBanner{
  //  .asciiBannerContainer{
  //    position: relative;
  //
  //    .clickBox{
  //      position: absolute;
  //      transition: all 1s;
  //      cursor: pointer;
  //
  //      &:hover{
  //        backdrop-filter: invert(100%);
  //      }
  //    }
  //    &.desktop{
  //      .clickBox{
  //        top: 78%;
  //        left: 38%;
  //        width: 23.8%;
  //        height: 10%;
  //      }
  //    }
  //
  //    &.mobile{
  //      display: none;
  //      .clickBox{
  //        top: 82.6%;
  //        left: 23%;
  //        width: 53%;
  //        height: 8%;
  //      }
  //    }
  //
  //  }
  //}
}

@media (max-width: 754px){
  .hero{
    p{
      //display: none;
    }
  }
  .banner{
    padding-top: 2em;
  }
  .bannerImage{
    display: none;
    padding: 2em 0 3em 0 !important;
    .desktop{
      display: none;
    }
    .imageHolder{
      text-align: center;
    }
    .mobile{
      display: block !important;
      width: 46% !important;
      margin: auto;
    }
  }

}
