.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  font-size: var(--font-size-regular);
  border-bottom: 1px solid;

  .logo{
    font-size: var(--font-size-regular);
    svg{
      display: none;
    }
  }

  .left {
    font-size: var(--font-size-regularB);
    display: flex;
    align-items: center;
    >*{
      margin-right: 8px;
    }
  }

  nav{
    a{
      padding: 0 8px;
      transition: background-color 500ms;

      &:hover{
        background: var(--foreground);
        color: var(--background) !important;
      }

      &:active{
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 754px) {
    .right a{
      display: none;
    }
    .menuButton {
      display: block;
    }
    button{
      font-size: var(--font-size-large) !important;
    }
    .logo{
      svg{
        display: block;
      }
      .logoText{
        display: none !important;
      }
    }
  }

}





.right {
  display: flex;
  a {
    color: #fff;
    text-decoration: none;
    margin-left: 8px;
  }
}

.menuButton {
  display: none;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    opacity: 0.8;
  }
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--foreground);
  color: var(--background);
  width: 80%;
  //height: 100%;
  padding: var(--body-padding);

  a {
    font-size: var(--font-size-large);
    display: block;
    margin-bottom: 0.5em;
    &:hover {
      text-decoration: underline;
    }
  }
}
