.wrapper{
  .header{
    border-top: 1px solid;
    //border-bottom: 1px solid;
    //margin-bottom: 1em;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    span{
      cursor: pointer;
    }
    >div:not(.headerTitle){
      opacity: 0;
      transition: opacity 500ms;
      &.active{
        opacity: 1;
      }
    }
    .headerTitle{
      text-align: center;
    }
  }
  .slider {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    .sliderInner {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;

      > * {
        flex: 0 0 calc(calc(100% - calc(3 * 37px)) / 4);
      }
    }
  }

}

@media (max-width: 754px) {
  .sliderInner{
    > * {
      flex: 0 0 100% !important;
    }
  }
}
