.sourceCard {
  border: 1px solid;
  box-sizing: border-box;
  padding: 0.5em 12px;
  position: relative;
  transition: all 250ms;
  display: flex;
  flex-direction: column;
}
.sourceCard.provider {
  height: 440px;
}
.sourceCard.provider .sourceLogo {
  margin-bottom: 0.5em;
  flex: 0 0 auto;
}
.sourceCard.provider .sourceLogo img {
  height: 80px;
  width: auto;
  max-width: 80px;
}
.sourceCard.provider .sourceName {
  margin-bottom: 1em;
  flex: 0 0 auto;
}
.sourceCard.provider .desc {
  flex: 1 1 auto;
  font-size: var(--font-size-regularB);
  line-height: 116%;
}
.sourceCard.file {
  display: grid;
  grid-template-columns: 60px repeat(4, 1fr);
  grid-template-rows: 60px;
  grid-row-gap: 1em;
}
.sourceCard.file img {
  filter: invert(100%);
}
.sourceCard.file .sourceLogo {
  padding-right: 10px;
}
.sourceCard.file .sourceName {
  transform: translateY(20px);
  text-transform: uppercase;
}
.sourceCard.file .footer {
  grid-column: 1/6;
  line-height: 30px;
}
.sourceCard .status {
  position: absolute;
  top: 0.5em;
  right: 12px;
}
.sourceCard:hover {
  background: var(--foreground);
  color: var(--background);
  transform-origin: center;
}
.sourceCard:hover * {
  color: black !important;
  border-color: black !important;
}
.sourceCard:hover.file img {
  filter: invert(100);
}
.sourceCard:hover .sourceLogo {
  filter: invert(100);
}
.sourceCard .footer {
  flex: 0 0 auto;
}
.sourceCard .footer .tags {
  margin-bottom: 2em;
}
.sourceCard .footer .tags > *:not(:last-child) {
  margin-right: 0.5em;
}
/* Mobile styles */
@media (max-width: 767px) {
  .sourceCard {
    height: auto !important;
    text-align: center;
  }
  .sourceCard.provider .status,
  .sourceCard.provider .desc,
  .sourceCard.provider .tags {
    display: none;
  }
  .sourceCard.file {
    align-items: center;
  }
  .sourceCard.file .tags {
    margin-bottom: 0;
  }
  .sourceCard.file .tags > *:nth-of-type(1n + 4) {
    display: none;
  }
  .sourceCard.file .footer {
    grid-column: 0.5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .sourceCard.file .sourceName {
    transform: translateY(0) !important;
  }
  .sourceCard.file .status,
  .sourceCard.file .desc {
    display: none;
  }
  .sourceCard.provider .sourceLogo {
    margin: 0 auto 0.5em;
  }
  .sourceCard.provider .sourceLogo img {
    height: 40px;
    width: auto;
    max-width: 40px;
  }
}
