.sourceCard{
  border: 1px solid;
  box-sizing: border-box;
  padding: 0.5em 12px;
  position: relative;
  transition: all 250ms;

  display: flex;
  flex-direction: column;

  &.provider{
    height: 440px;
    .sourceLogo{
      margin-bottom: 0.5em;
      flex: 0 0 auto;
      img{
        height: 80px;
        width: auto;
        max-width: 80px;
      }
    }
    .sourceName{
      margin-bottom: 1em;
      flex: 0 0 auto;
    }

    .desc{
      flex: 1 1 auto;
      font-size: var(--font-size-regularB);
      line-height: 116%;
    }

  }

  &.file{
    img{
      filter: invert(100%);
    }

    display: grid;
    grid-template-columns: 60px repeat(4, 1fr);
    grid-template-rows: 60px;
    grid-row-gap: 1em;

    .sourceLogo{
      //width: 30px;
      padding-right: 10px;
    }

    .sourceName{
      transform: translateY(20px);
      text-transform: uppercase;
    }

    .footer{
      grid-column: 1/6;
      line-height: 30px;
    }


  }

  .status{
    position: absolute;
    top: 0.5em;
    right: 12px;
  }

  &:hover{
    background: var(--foreground);
    color: var(--background);
    *{color: black!important; border-color: black!important;}
    transform-origin: center;
    &.file{
      img{
        filter: invert(0);
      }
    }
  }

  .footer{
    flex: 0 0 auto;
    .tags{
      margin-bottom: 2em;
      >*:not(:last-child){
        margin-right: 0.5em;
      }
    }
  }

}

/* Mobile styles */
@media (max-width: 767px) {
  .sourceCard{
    height: auto !important;
    text-align: center;

    &.provider{
      .status, .desc, .tags{
        display: none;
      }
    }

    &.file{
      align-items: center;
      .tags{
        margin-bottom: 0;
        >*:nth-of-type(1n+4) {display: none;}
      }
      .footer{
        grid-column: 3/6;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .sourceName{
        transform: translateY(0) !important;
      }
      .status, .desc{
        display: none;
      }
    }
  }

}
