.footer {
  padding-top: 2em;
  border-top: 1px solid;
  font-size: var(--font-size-regularB);
  .footerLinks{
    padding-bottom: 10em;
  }
  .copy{
    padding: 1em 0;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 1em 0;
  }

  .catTitle {
    margin-bottom: 1em;
    display: block;
  }

  .catItems{
   >*{
     display: block;
   }
  }

  > * {
    white-space: pre-wrap;
  }
}
@media only screen and (max-width: 767px) {
  .footerLinks{
    >*:first-child{
      grid-column: 1/2;
    }
    >*:not(:first-child){
      grid-column: 2/5;
    }

    .catItems{
      margin-bottom: 2em;
    }
  }
}
