.wrapper {
  .header{
    text-align: center;
    margin-bottom: 1em;
  }

  .list{
    //display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: var(--body-padding);
    margin-bottom: 1em;
  }
  .pagination{
    text-align: center;
  }
}
