.toc{
  list-style: none;
  font-size: var(--font-size-small);
  line-height: 1em;
  .tocItem{
    max-width: 250px;
    transition: opacity 500ms;
    opacity: 0.5;
    &.active{
      opacity: 1;
    }
    +li{
      margin-top: 0.5em;
    }
    &.heading_3{
      margin-left: calc(var(--body-padding) / 2);
    }
    &.heading_2{

    }
  }
}

@media (max-width: 754px) {
  .toc{
    font-size: var(--font-size-sub-title) !important;
    .heading_3{
      margin-left: calc(var(--body-padding)) !important;
    }
  }
}

