.container {
  padding-bottom: 2em;
  .mobile{
    display: none;
  }

  >h3{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    text-align: center;
  }
}

@media (max-width: 754px) {
  .container{
    &.provider{
      .mobileList{
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &.file{
      .mobileList{
        grid-template-columns: 100%;
      }
    }
  }
  .mobile{
    padding-top: 1em;
    display: grid !important;
  }
  .desktop{
    display: none;
  }
}
