.container .content {
    padding: 1em 0 15em 0;
}
.container .content strong {
    display: block;
}
.container .content p a {
    display: inline-block;
}
.container .leftPanel {
    padding-top: 1em;
    font-size: var(--font-size-small);
}
.container .leftPanel .back > * {
    margin-right: 8px;
}
.container .leftPanel .leftPanelContent {
    margin-top: 2em;
    position: sticky;
    top: 2em;
    left: 0;
}
@media only screen and (max-width: 767px) {
    .content {
        padding: 2em 0 4em 0;
    }
}

