.blog{
  .post{
    margin-bottom: 3em;
    .date{
      font-size: var(--font-size-small);
    }
    .title{
      margin-bottom: 0.5em;
    }
    .subtitle{
      font-family: serif;
      margin-bottom: 1em;
      font-size: var(--font-size-regularB);
    }
    .outline{

    }
  }

}
