.postContainer{
  .firstLine{
    font-size: var(--font-size-regularB);
  }

  time{
    margin-bottom: 1em;
  }
  .tags{
    margin-bottom: 1em;
    >*:not(:last-child){
      margin-right: 12px;
    }
  }
}
