@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1440px;
  --border-radius: 20px;
  --body-padding: 36px;
  --border: 2px;
  --font-mono: "Poppins", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-body: "Poppins", sans-serif, Helvetica, Araial;

  --foreground: rgb(0, 0, 0);
  --background: rgb(255, 255, 255);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-weight: 400 !important;
}
h3,
h4 {
  font-weight: 300 !important;
}

pre{
  background-color: hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)39%/.05) !important;
}

img, video {
  max-width: 100%;
  width: 100%;
}
